
html, body{
	background-color: lightgray;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size:18px;
	line-height:30px;
	text-shadow:1px 1px 0px #fff
}
body{
	text-align:center
}
h1 {
	font-size:36px;
	line-height:50px;
	font-weight:bold;
	color:teal;
}
img{
	border-radius:35%;
}
.hero{
	outline:10px solid darkred;
	height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
}
